*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
body{
    background-color: black;
    display: flex;
   justify-content: center;
   align-items: center;
}
.container{
   background-color: rgb(24, 24, 24);
   margin-top: 2%;
   padding-bottom: 2%; 
   width: 25%; 
   border-radius: 20px;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
   margin-left: 40%;
   margin-top: 10%;
}
h1{
    color: white;
    margin-left: 34%;
    font-size: 25px;
    margin-top: 5%;
}
h4{
    color: yellowgreen;
    margin-left: 35%;
    font-size: 14px;
    margin-top: 5%;
}
h5{
    color: rgb(225, 224, 224);
    margin-left: 32%;
    font-size: 13px;
    margin-top: 5%;
}
.github button{
    background-color:rgb(46, 44, 44);
    color: white;
    height: 40px;
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    border-style: none;
    border-radius: 10px;
    font-size: 17px;
}
.linkedin button{
    background-color:rgb(46, 44, 44);
    color: white;
    height: 40px;
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    border-style: none;
    border-radius: 10px;
    font-size: 17px;
}
.Hacker-Rank button{
    background-color:rgb(46, 44, 44);
    color: white;
    height: 40px;
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    border-style: none;
    border-radius: 10px;
    font-size: 17px;
}
.instagram button{
    background-color:rgb(46, 44, 44);
    color: white;
    height: 40px;
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    border-style: none;
    border-radius: 10px;
    font-size: 17px;
}
.frontend-mentor button{
    background-color:rgb(46, 44, 44);
    color: white;
    height: 40px;
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    border-style: none;
    border-radius: 10px;
    font-size: 17px;
}
button:hover{
    cursor: pointer;
    color: yellowgreen;
    box-shadow: 0 0 11px yellowgreen, 0 0 20px yellowgreen;
    transition: 0.3s;
}
img:hover{
    transform: scale(1.5);
    transition: 0.3s;
    cursor: pointer;
}
img:not(:hover){
    transition: 0.3s;
}
@media only screen and (max-width:400px){
    .container{
        width: 90%;
        padding-bottom: 5%;
        margin-top: 10%;
    }
}
